.codeErrorChat {
    font-size: 0.75rem;
    margin: 0.25rem auto 0;
    height: 1rem;
    color: #FF5757;
}

.mainChat button, input {
    margin: 0 auto;
    height: 2rem;
    width: 12rem;
    border: 0;
    box-sizing: border-box;
}

.mainChat button {
    background-color: #FFBF4B;
    color: #2C2C2C;
    border-radius: 5px;
    margin: 1rem auto;
    transition: background-color 0.25s;
    box-shadow: 0.25rem 0.25rem 0.15rem 0.05rem rgba(44, 44, 44, 0.3);
    cursor: pointer;
}

.mainChat button:hover, button:focus {
    background-color: #FFAB10;
}

.mainChat button:active {
    background-color: #F29C00;
}

.mainChat input {
    background-color: #FFF4E0;
    border-bottom: 1px #2C2C2C solid;
}

.mainChat form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
}

.mainChat h1 {
    font-size: 2rem;
    margin: 4rem 1rem 2rem;
    text-align: center;
}

@media (min-width: 769px) {
    .codeErrorChat {
        font-size: 1.125rem;
        margin: 0.5rem auto 0;
    }

    .mainChat button, input {
        height: 4rem;
        width: 24rem;
        font-size: 1.5rem;
    }

    .mainChat button {
        margin: 2rem auto;
    }

    .mainChat h1 {
        font-size: 5rem;
        margin: 4rem 1rem;
    }
}